.ge-alert {
    border: 1px solid #cdcdcd;
    display: block;
    margin: var(--mtb1);
    padding: var(--space-1);
    padding-right: 1.5rem;
    position: relative;
}

.ge-alert .close {
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.ge-alert p:first-of-type {
    margin-top: 0;
}

.ge-alert p:last-of-type {
    margin-bottom: 0;
}